In [ ]:
!pip install selenium

In [ ]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [ ]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\aisha\Downloads\chromedriver_win32 (1)")
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
#Opening the website on automated chrome browser

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [ ]:
#Scrapping details of a table

table=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]')

# Read text attribute from each element
for elt in table:
    print(elt.text)

In [ ]:
# Obtain the number of rows in body
rows = 1+len(driver.find_elements(By.XPATH,
    "/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]"))
 
# Obtain the number of columns in table
cols = len(driver.find_elements(By.XPATH,
    "/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]"))
 
# Print rows and columns
print(rows)
print(cols)

In [ ]:
#finding rank 
rank=[]

ranking = driver.find_elements(By.XPATH,'//td[@align="center"]')
for i in ranking:
    rank.append(i.text.replace('.', '').replace(' ', ''))
    
    RANK = []

    for i in rank[0:30:3]:
        RANK.append(i)
        
    for i in rank[30: :2]:
        RANK.append(i)

In [ ]:
# finding Name

name=[]

name_info = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td')
for i in name_info:
    name.append(i.text)
    print(name) 
    
    NAME = []
for i in name[1: :6]:
    NAME.append(i.replace('"', ''))

In [ ]:
#extract the tag having Artist
Artist = []

artist = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//td")
for i in artist:
    Artist.append(i.text)

ARTIST = []
for i in Artist[2: :6]:
    ARTIST.append(i.replace('"', ''))

In [ ]:
#extract the tag having Artist
Upload_date = []

upload = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//td")

for i in upload:
    Upload_date.append(i.text)

UPLOAD_DATE = []
for i in Upload_date[4: :6]:
    UPLOAD_DATE.append(i.replace('"', ''))

In [ ]:
#extract the tag having Artist

view = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//td")

#to remove extra data other than output we required
View = [] 

for i in view:
    View.append(i.text)

VIEW_billions = []
for i in View[3: :6]:
    VIEW_billions.append(i.replace('"', ''))

In [332]:
Record = pd.DataFrame({})
Record['Rank'] = RANK[0:30]
Record['Name']=NAME[0:30]
Record['Artist'] = ARTIST[0:30]
Record['Upload date']=UPLOAD_DATE[0:30]
Record['Views']=VIEW_billions[0:30]
Record

,Rank,Name,Artist,Upload date,Views
0,1,Baby Shark Dance[4],Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2,Despacito[7],Luis Fonsi,"January 12, 2017",8.16
2,3,Johny Johny Yes Papa[14],LooLoo Kids,"October 8, 2016",6.70
3,620,Bath Song[15],Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,[C],Shape of You[16],Ed Sheeran,"January 30, 2017",6.00
5,[D],See You Again[19],Wiz Khalifa,"April 6, 2015",5.89
6,8,Phonics Song with Two Words[24],ChuChu TV,"March 6, 2014",5.30
7,492,Wheels on the Bus[25],Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,11,Uptown Funk[26],Mark Ronson,"November 19, 2014",4.92
9,12,Learning Colors – Colorful Eggs on a Farm[27],Miroshka TV,"February 27, 2018",4.89
10,435,Gangnam Style[28],Psy,"July 15, 2012",4.80
11,391,Masha and the Bear – Recipe for Disaster[33],Get Movies,"January 31, 2012",4.55
12,387,Dame Tu Cosita[34],El Chombo,"April 5, 2018",4.35
13,380,Axel F[35],Crazy Frog,"June 16, 2009",3.91
14,379,Sugar[36],Maroon 5,"January 14, 2015",3.87
15,366,Roar[37],Katy Perry,"September 5, 2013",3.80
16,364,Counting Stars[38],OneRepublic,"May 31, 2013",3.79
17,360,Sorry[39],Justin Bieber,"October 22, 2015",3.66
18,359,Baa Baa Black Sheep[40],Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,352,Thinking Out Loud[41],Ed Sheeran,"October 7, 2014",3.60
20,348,Waka Waka (This Time for Africa)[42],Shakira,"June 4, 2010",3.59
21,345,Dark Horse[43],Katy Perry,"February 20, 2014",3.52
22,345,Lakdi Ki Kathi[44],Jingle Toons,"June 14, 2018",3.48
23,344,Faded[45],Alan Walker,"December 3, 2015",3.45
24,342,Perfect[46],Ed Sheeran,"November 9, 2017",3.45
25,341,Let Her Go[47],Passenger,"July 25, 2012",3.44
26,338,Girls Like You[48],Maroon 5,"May 31, 2018",3.42
27,338,Humpty the train on a fruits ride[49],Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,,Lean On[50],Major Lazer,"March 22, 2015",3.38
29,[B],Bailando[51],Enrique Iglesias,"April 11, 2014",3.38

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
#Opening the website on automated chrome browser

page='https://www.bcci.tv/'
driver.get(page)
time.sleep(2)

In [ ]:
#serch button click
Ficxture_button = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
Ficxture_button.click()

#//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']

In [ ]:
#serch button click
Ficx_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[2]")
Ficx_button.click()

#/html/body/div[2]/div[1]/div/ul/li[1]/a
#/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div

In [ ]:
#main table button click 
main_table = driver.find_element(By.XPATH,'//div[@class="results-tab-inner row"]')
print(main_table)

In [ ]:
#serch button click
match_button = driver.find_element(By.XPATH,"/html/body/div[4]/div/div/div[2]/div/div/div[3]/div/div[2]/div/ul/li[3]")
match_button.click()

In [ ]:
#Find detail table 

match = driver.find_elements(By.XPATH,"//strong[@class='fixture__name fixture__name--with-margin']")
Match_title = []
for i in match:
    Match_title.append(i.text)

In [ ]:
#Match title

match_1=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div/div[3]/div[1]/div')
Match_T = []
for i in match:
    Match_T.append(i.text)

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [ ]:
#connect to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'http://statisticstimes.com/'
driver.get(url)

In [ ]:
#serch button click
Economy_b = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
Economy_b.click()

In [ ]:
#serch button click
India_B = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
India_B.click()

In [ ]:
#serch button click

India_B = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
India_B.click()

A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [ ]:
#extract the tag having rank
rank = driver.find_elements(By.XPATH,"//td[@class='data1']")

#to remove extra data other than output we required
Rank = []
for i in rank:
    Rank.append(i.text)

#extract the tag having state
state_of_india = driver.find_elements(By.XPATH,"//td[@class='name']")

#to remove extra data other than output we required
State = []
for i in state_of_india:
    State.append(i.text)

#extract the tag having GSPD_Current
current = driver.find_elements(By.XPATH,"//td[@class='data']")

#to remove extra data other than output we required
GSPD_Current = []
for i in current:
    GSPD_Current.append(i.text)
    
GDPS_19_20 = []
for i in GSPD_Current[0: :5]:
    GDPS_19_20.append(i)

#extract the tag 
current_18_19 = driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")

#to remove extra data other than output we required
GSPD_18_19 = []
for i in current_18_19:
    GSPD_18_19.append(i.text)

# extracg the data of share
Share_19_20 = []
for i in GSPD_Current[1: :5]:
    Share_19_20.append(i)

# extracg the data of GDP in Billions
GDP = []
for i in GSPD_Current[2: :5]:
    GDP.append(i)

In [333]:
Stats = pd.DataFrame({})
Stats['Rank'] = RANK[0:33]
Stats['STATE']= State[0:33]
Stats['GSDP (18-19)'] = GDPS_19_20[0:33]
Stats['GSDP (18-19)'] = GSPD_18_19[0:33] 
Stats['SHARE (19-20)'] = Share_19_20[0:33]
Stats['GDP'] = GDP[0:33] 
Stats

    Rank                      STATE GSDP (18-19) SHARE (19-20)      GDP
0      1                Maharashtra    2,632,792        13.94%  399.921
1      2                 Tamil Nadu    1,630,208         8.63%  247.629
2      3              Uttar Pradesh    1,584,764         8.39%  240.726
3    620                    Gujarat    1,502,899         7.96%  228.290
4    [C]                  Karnataka    1,493,127         7.91%  226.806
5    [D]                West Bengal    1,089,898         5.77%  165.556
6      8                  Rajasthan      942,586         4.99%  143.179
7    492             Andhra Pradesh      862,957         4.57%  131.083
8     11                  Telangana      861,031         4.56%  130.791
9     12             Madhya Pradesh      809,592         4.29%  122.977
10   435                     Kerala      781,653         4.14%  118.733
11   391                      Delhi      774,870         4.10%  117.703
12   387                    Haryana      734,163         3.89%  111.519
13   380                      Bihar      530,363         2.81%   80.562
14   379                     Punjab      526,376         2.79%   79.957
15   366                     Odisha      487,805         2.58%   74.098
16   364                      Assam      315,881         1.67%   47.982
17   360               Chhattisgarh      304,063         1.61%   46.187
18   359                  Jharkhand      297,204         1.57%   45.145
19   352                Uttarakhand      245,895         1.30%   37.351
20   348            Jammu & Kashmir      155,956         0.83%   23.690
21   345           Himachal Pradesh      153,845         0.81%   23.369
22   345                        Goa       73,170         0.39%   11.115
23   344                    Tripura       49,845         0.26%    7.571
24   342                 Chandigarh       42,114         0.22%    6.397
25   341                 Puducherry       34,433         0.18%    5.230
26   338                  Meghalaya       33,481         0.18%    5.086
27   338                     Sikkim       28,723         0.15%    4.363
28                          Manipur       27,870         0.15%    4.233
29   [B]                   Nagaland       27,283         0.14%    4.144
30   134          Arunachal Pradesh       24,603         0.13%    3.737
31   [E]                    Mizoram       22,287         0.12%    3.385
32  [65]  Andaman & Nicobar Islands            -             -        -

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [ ]:
#connect to the web driver
web_driver = webdriver.Chrome(r"chromedriver.exe")


#Get url in web driver first
url = 'https://github.com/'
web_driver.get(url)

In [ ]:
#inspect button to click on open source

button_open_source= web_driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')

button_open_source.click()

In [ ]:
#inspect for Skill,Designations,Companies field

repo_search = web_driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")

repo_search.click()

In [ ]:
table2=web_driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]')

for elt in table2:
    print(elt.text)

In [ ]:
#extract the tag having rank
#A) Repository title B) Repository description C) Contributors count D) Language used Note

repo_title = web_driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']")
#to remove extra data other than output we required

Repository_title = []
for i in repo_title:
    Repository_title.append(i.text)
Repository_title

In [ ]:
#Repository description

repo_desc= web_driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")

Repository_desc = []
for i in repo_desc:
    Repository_desc.append(i.text)
Repository_desc

In [ ]:
#Contritbutors count

contr_count= web_driver.find_elements(By.XPATH,"//span[@class='d-inline-block mr-3']")

Contri_count = []
for i in contr_count:
    Contri_count.append(i.text)
Contri_count

In [ ]:
#Language used Note

lang= web_driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']")

lang_note = []
for i in lang:
    lang_note.append(i.text)
lang_note

In [335]:
Git = pd.DataFrame({})
Git['Repository_Title'] = Repository_title[0:33]
Git['Repository_Desc']= Repository_desc[0:33]
Git['Contributor_count'] = Contri_count[0:33]
Git['Language'] = lang_note[0:33]
Git.pd.Dataframe[0:33]

ValueError: Length of values (24) does not match length of index (25)

In [336]:
Git = pd.DataFrame({})
Git['Repository_Title'] = pd.Series([Repository_title])
Git['Repository_Desc']= pd.Series([Repository_desc])
Git['Contributor_count'] = pd.Series([Contri_count])
Git['Language'] = pd.Series([lang_note])
Git

,Repository_Title,Repository_Desc,Contributor_count,Language
0,"[geohot / tinygrad, artidoro / qlora, ShishirP...",[You like pytorch? You like micrograd? You lov...,"[Built by, Built by, Built by, Built by, Built...","[Python, Jupyter Notebook, Python, C++, PHP, J..."

5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [ ]:
#connect to the web driver
web_driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.billboard.com/'
web_driver.get(url)
#the url will open

In [ ]:
#serch button click
charts_button = web_driver.find_element(By.XPATH,"//div[@class='search-form']")
charts_button.click()


#/html/body/div[5]/div[9]/div/div/div/ul/li[1]/h3/button/span

In [ ]:
#serch button click
top100_button = web_driver.find_element(By.XPATH,"/html/body/div[4]/div[9]/div/div/div/ul/li[1]/ul/li[2]")
top100_button.click()

In [ ]:
#extract the tag having song name
name = web_driver.find_element(By.XPATH,"//span[@class='chart-element__information__song text--truncate color--primary']")
#to remove extra data other than output we required
Song_name = []
for i in name:
    Song_name.append(i.text)

#extract the tag having artist name
Artist = web_driver.find_element(By.XPATH,"//span[@class='chart-element__information__artist text--truncate color--secondary']")
#to remove extra data other than output we required
Artist_name = []
for i in Artist:
    Artist_name.append(i.text)

#extract the tag having last week rank
last_rank = web_driver.find_element(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--last']")
#to remove extra data other than output we required
Last_week_rank = []
for i in last_rank:
    Last_week_rank.append(i.text)

#extract the tag having last peak rank
peak_rank = web_driver.find_element(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--peak']")
Peak_rank = []
for i in peak_rank:
    Peak_rank.append(i.text)

#extract the tag having last week rank
woc = web_driver.find_element(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--week']")
Weeks_on_chart = []
for i in woc:
    Weeks_on_chart.append(i.text)

In [ ]:
# Make data frame of hot 100 from https://www.billboard.com/
HTop_list_100 = pd.DataFrame({})
HTop_list_100['Song_name']= Song_name
HTop_list_100['Artist_name'] = Artist_name
HTop_list_100['Last_week_rank'] = Last_week_rank 
HTop_list_100['Peak_rank'] = Peak_rank
HTop_list_100['Weeks_on_Board'] = Weeks_on_chart 
HTop_list_100

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [337]:
#connect to the web driver
web_driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
web_driver.get(url)
#the url will open

In [338]:
#extract the tag having rank
rank = web_driver.find_elements(By.XPATH,"//td[@class='left']")
#to remove extra data other than output we required

Book_Name = []
for i in rank:
    Book_Name.append(i.text)
BOOK_NAME = []
for i in Book_Name[1: :5]:
    BOOK_NAME.append(i)

Auther_Name = []
for i in Rank[2: :5]:
    Auther_Name.append(i)

Volume_sold = []
for i in Rank[3: :5]:
    Volume_sold.append(i)

Publisher = []
for i in Rank[4: :5]:
    Publisher.append(i)

#extract the tag having rank
genre = web_driver.find_elements(By.XPATH,"//td[@class='last left']")
#to remove extra data other than output we required
Genre = []
for i in genre:
    Genre.append(i.text)

In [ ]:
# Make data frame of hot 100 from https://www.billboard.com/
Novels = pd.DataFrame({})
Novels['BOOK_NAME']= BOOK_NAME
Novels['Auther_Name'] = Auther_Name
Novels['Volume_sold'] = Volume_sold 
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre 
Novels

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [ ]:
#connect to the web driver
web_driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.imdb.com/list/ls095964455/'
web_driver.get(url)
#the url will open

In [340]:
#extract the tag having Name
name = web_driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a")
#to remove extra data other than output we required
Name=[]
for i in name:
    Name.append(i.text)

#extract the tag having year span
year = web_driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
#to remove extra data other than output we required
Year_Span=[]
for i in year:
    Year_Span.append(i.text)

#extract the tag having Genre
genre = web_driver.find_elements(By.XPATH,"//span[@class='genre']")
#to remove extra data other than output we required
Genre=[]
for i in genre:
    Genre.append(i.text)

#extract the tag having run time
run = web_driver.find_elements(By.XPATH,"//span[@class='runtime']")
#to remove extra data other than output we required
Run_Time=[]
for i in run:
    Run_Time.append(i.text)

#extract the tag having ratings
ratings = web_driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
#to remove extra data other than output we required
Ratings=[]
for i in ratings:
    Ratings.append(i.text)

#extract the tag having voting
voting = web_driver.find_elements(By.XPATH,"//span[@name='nv']")

#to remove extra data other than output we required
Voting=[]
for i in voting:
    Voting.append(i.text)

In [342]:
# Make data frame of tv series 100 from imdb.com
TELEVISION_S = pd.DataFrame({})
TELEVISION_S['NAME']= Name
TELEVISION_S['Year Span'] = Year_Span
TELEVISION_S['Genre'] = Genre 
TELEVISION_S['Run Time'] = Run_Time
TELEVISION_S['Ratings'] = Ratings 
TELEVISION_S['Voting'] = Voting 
TELEVISION_S

Empty DataFrame
Columns: [NAME, Year Span, Genre, Run Time, Ratings, Voting]
Index: []

8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [ ]:
#connect to the web driver
web_driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://archive.ics.uci.edu/'
web_driver.get(url)

In [ ]:
#serch button click
dataset_button = web_driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
dataset_button.click()

In [ ]:
#extract the tag having dataset Name
name = web_driver.find_elements(By.XPATH,"//td[@valign='top']//a")


#to remove extra data other than output we required

Dataset_Name=[]
for i in name:
    Dataset_Name.append(i.text)
Dataset_name = []
for i in Dataset_Name[44: :2]:
    Dataset_name.append(i)

In [ ]:
#extract the tag having dataset Name
datat = web_driver.find_elements(By.XPATH,"//td[@valign='top']//p")
#to remove extra data other than output we required
Data_type=[]
for i in datat:
    Data_type.append(i.text)

Data_Type=[]
for i in Data_type[25: :7]:
    Data_Type.append(i)

In [ ]:
#extract the tag having dataset Name
task = web_driver.find_elements(By.XPATH,"//td[@valign='top']//p")
#to remove extra data other than output we required
Task=[]
for i in task:
    Task.append(i.text)

TASK=[]
for i in Task[26: :7]:
    TASK.append(i)

In [ ]:
Attribute_Type=[]
for i in Data_type[27: :7]:
    Attribute_Type.append(i)
Instances = []
for i in Data_type[28: :7]:
    Instances.append(i)
Attribute=[]
for i in Data_type[29: :7]:
    Attribute.append(i)
Year=[]
for i in Data_type[30: :7]:
    Year.append(i)

In [343]:
# Make data frame of Datasets from UCI machine learning repositories from Url = https://archive.ics.uci.edu/

MACHINE_LEARNING_REPO = pd.DataFrame({})
MACHINE_LEARNING_REPO['Dataset_name']= Dataset_name
MACHINE_LEARNING_REPO['Data_Type'] = Data_Type
MACHINE_LEARNING_REPO['Task'] = TASK 
MACHINE_LEARNING_REPO['Attribute_Type'] = Attribute_Type
MACHINE_LEARNING_REPO['Instances'] = Instances 
MACHINE_LEARNING_REPO['Attribute'] = Attribute 
MACHINE_LEARNING_REPO['Year'] = Year
MACHINE_LEARNING_REPO

,Dataset_name,Data_Type,Task,Attribute_Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [329]:
#connect to the web driver
web_driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = ' https://www.naukri.com/hr-recruiters-consultants'
web_driver.get(url)

In [330]:

#inspect for Skill,Designations,Companies field
ds_search = web_driver.find_element(By.XPATH,"//input[@class='sugInp']")

#this will write text on search bar
ds_search.send_keys('Data science')

In [331]:
#serch button click
search_button = web_driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']")
search_button.click()